/* Styling for the Retag Page */

.tableFixHead {
  overflow-y: auto;
  height: 80vh;
  padding-left:1vh;
  padding-right:1vh;
  margin-bottom: 5vh;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  background: #eee;
  overflow: hidden;
  z-index: -1;
}
table {
  border: 0.5px solid black;
  border-spacing: 0;
  width: 100%;
}
th, 
td {
  padding: 8px 16px;
  border: 0.5px solid black;
  color: black;
  text-align: center;
}
tbody td {
  position: relative;
  z-index:-2;
}
.table-header{
  display: flex;
  justify-content: space-between;
  padding-left:1vh;
  padding-right:1vh;
  padding-top:2vh;
}
.table-header-title {
  float:left;
  font-weight: bold;
  font-size: 30px;
  color: black;
}
.table-header-download {
  color: black;
  float: right;
  margin-top: auto;
}
.column_1_title {
  text-align: left;
}
.column_1_entry {
  text-align: left;
  z-index: 0;
  cursor: pointer;
}
