/* CSS Style Sheet for CDI Dashboard */

/* Setting font */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }
  
  a {
    color:white;
    text-decoration: none;
  }
  

.dropbtn {
  background-color: #002554;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
}


.dropbtn:hover {
  background-color: #18355a;
}


.dropdown {
  position: relative;
  border-right:300px solid white;
  border-bottom:1px solid white;
  float:right;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: max-content;
  box-shadow: 1px 8px 16px 1px rgba(0,0,0,0.2);
  z-index: 1;
  font-size:20px;
  text-align:right;
  padding:20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.dropdown-content button{
  
  border:none;
  background-color:#002554;
  width:max-content;
  font-size: 20px;
  padding:5px;
  color:white;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.dropdown-content input[type=text]{
  
  border:none;
  font-size: 20px;
  padding:5px;
  color:black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.dropdown-content select{
  
  border:none;
  font-size: 20px;
  padding:5px;
  color:black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

  /* Styling the Menu Bar and Collapsible Menu (i.e. navbar) */
  
.container {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	

}
.section3 .section2 .section1{
	width:650px;
	height:400px;
	
	padding:20px

}
.section4 {
	width:650px;
	height:500px;
	
	padding:20px

}

.information {
	width:100%;
	height:100%;
	border:0;
	border-radius: 30px
  

}
.chartstyle {

  width:100%;
	height:100%;

}

  .navbar {
    background-color: #002554;
    position: fixed;
    width: 100%;
    height: 75px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    color: white;
  }
  
  .navbar ul {
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #002554;
  }
  
  .navbar li a {
    color: white;
    display: flex;
    padding: 11.25px 20px;
    height: 35px;
    text-decoration: none;
    line-height: 35px;
  }

  /* Hovering over Menu Items */
  .navbar li a:hover,
  .navbar .menu-button:hover {
    background-color: #ccc;

  }
  
  /* Styling the Title */
  .navbar .title {
    display: block;
    float: left;
    font-size: 2em;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
  }
  
  /* Styling the Menu Items */
  
  .navbar .menu-items {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  
  /* Styling Collapsible Menu */
  
  .navbar .burger-menu {
    cursor: pointer;
    float: right;
    padding: 36px 20px;
    position: relative;
    user-select: none;
  }
  
  .navbar .burger-menu .lines {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .navbar .burger-menu .lines:before,
  .navbar .burger-menu .lines:after {
    background:white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .navbar .burger-menu .lines:before {
    top: 5px;
  }
  
  .navbar .burger-menu .lines:after {
    top: -5px;
  }

  /* Checkbox is used for clicking the collapsible menu, lines are transformed to make X */
  .navbar .menu-button {
    display: none;
  }
  
  .navbar .menu-button:checked ~ .menu-items {
    max-height: 345px;
  }
  
  .navbar .menu-button:checked ~ .burger-menu .lines {
    background: transparent;
  }
  
  .navbar .menu-button:checked ~ .burger-menu .lines:before {
    transform: rotate(-45deg);
  }
  
  .navbar .menu-button:checked ~ .burger-menu .lines:after {
    transform: rotate(45deg);
  }
  
  .navbar .menu-button:checked ~ .burger-menu:not(.steps) .lines:before,
  .navbar .menu-button:checked ~ .burger-menu:not(.steps) .lines:after {
    top: 0;
  }
  

  /* Styling the Alert Icon */

  .navbar .alert-icon {
    cursor: pointer;
    float: right;
    padding: 20px 10px;
    position: relative;
  }
  
  .alert-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: red;
    background: aliceblue;
    border: none;
    outline: none;
    border-radius: 50%;
  }
  
  .alert-button:hover {
    cursor: pointer;
  }

  .alert-icon:hover {
      background: #ccc;
  }
  
  .alert-button:active {
    background: #cccccc;
  }

   /* Styling the footer */
   .footer{
    position:fixed;
    float:right;
    bottom:0;
    width: 100%; 
    background-color:#eee;
  }
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
    background-color: #002554;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
      text-align:center;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  
    .styled-table  caption {
      display: table-caption;
      text-align: center;
      padding:10px;
      font-size: 30px;
      font-family: sans-serif;
      font-weight: bold;
      background-color: black;
      color: white;
      height: 40px
      
    }

    .table_header{
      width:20%;
      float:left;
      border-left:100px solid white;
      font-size: 100%;
    }
    .scrolling{
      overflow-y:scroll;
      height:500px;
      width:100%;
      
    }
    .masterlist-table { 
      border-collapse: collapse;
      font-size: 50%;
      font-family: sans-serif;
      width:90%;
  
    }
    .masterlist-table thead tr {
      background-color: #002554;
      color: #ffffff;
      text-align: left;
      position: sticky;
      top: 0;
    }
    
    .masterlist-table th,
    .masterlist-table td {
        padding: 12px 15px;
        text-align:center;
    }
    
    .masterlist-table tbody tr {
      border-bottom: 0px solid #dddddd;
    }
    
    .masterlist-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    .masterlist-table a {
      color:black;
      text-decoration: none;
    }
    
  /* Styling for different window sizes */
  @media (min-width: 1127px){
    .navbar li {
      
      float: left;
    }
    .navbar li a {
      padding: 20px 20px;
    }
    .navbar .menu-items {
      clear: none;
      float: right;
      max-height: none;
    }
    .navbar .burger-menu {
      display: none;
    }
  
    .navbar .alert-icon {
      display: none;
    }
  .left-title{
    float:left;
    padding:10px
  }
    
.container {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	

}
.section1 {
	width:50%;
	height:400px;
	
	padding:20px

}
.section2 {
	width:40%;
	height:400px;

	padding:20px

}
.section3 {
	width:30%;
	height:400px;
	
	padding:20px

}
.section4 {
	width:60%;
	height:400px;
	
	padding:20px

}

.information {
	width:100%;
	height:100%;
	border:2px solid black;
	border-radius: 30px

}
.chartstyle {

	width:100%;
	height:100%;

	
}
h1 {

font-family: Arial, Helvetica, sans-serif;
font-size: 40px; 

}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
 

}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #002554;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align:center;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}


  .styled-table  caption {
    display: table-caption;
    text-align: center;
    padding:10px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
    height: 40px
    
  }

  }
  
