{% extends "base.html" %}

{% block content %}
<center>

	<body>

		<div class="table_header">
			<h3 class='left-title'>CDI Masterlist</h3>
		</div>
		<div class="dropdown">
			<button onclick="toggledropdown()" class="dropbtn"><span
					class="material-icons">filter_alt</span>&nbsp&nbspFilter by Attributes</button>
			<form class="built-in-form" method="get">
				<div id="myDropdown" class="dropdown-content">
					<label for="id_title">Title:</label></th>
					<td><input type="text" name="title" id="id_title"><br><br>
						<label for="id_organization">Organization:</label></th>
					<td><input type="text" name="organization" id="id_organization"><br><br>
						<label for="id_cdi_themes">Themes:</label></th>
					<td><input type="text" name="cdi_themes" id="id_cdi_themes"><br><br>
						<label for="id_status">Status:</label></th>
					<td><select name="status" id="id_status">
							<option value="" selected>---------</option>

							<option value="Active">Active</option>

							<option value="Not Active">Not Active</option>

							<option value="Retired">Retired</option>

						</select><br><br>
						<label for="id_metadata_type">Metadata type:</label></th>
					<td><select name="metadata_type" id="id_metadata_type">
							<option value="" selected>---------</option>

							<option value="No metadata type">No Metadata Type</option>

							<option value="geospatial">Geospatial</option>

						</select><br><br>
						<button type="submit">Filter</button>
				</div>
			</form>
		</div>

		</div>
		<div class="scrolling">
			<table class="masterlist-table ">

				<thead>
					<tr>
						<th>CDI ID</th>
						<th>Name</th>
						<th>Title</th>
						<th>Organization</th>
						<th>Catalog URL</th>
						<th>API URL</th>
						<th>CDI Themes</th>
						<th>Metadata Type</th>
						<th>Geoplatform ID</th>
						<th>Status</th>
						<th>Data.gov ID</th>

					</tr>
				</thead>

				<tbody>
					{% for item in masterlist %}
					<tr>
						<td>{{ item.cdi_id }} </td>
						<td>{{ item.name }} </td>
						<td>{{ item.title }} </td>
						<td>{{ item.organization }} </td>
						<td>{{ item.catalog_url }} </td>
						<td>{{ item.api_url }} </td>
						<td>{{ item.cdi_themes }} </td>
						<td>{{ item.metadata_type }} </td>
						<td>{{ item.geoplatform_id }} </td>
						<td>{{ item.status }} </td>
						<td>{{ item.datagov_ID }} </td>
					</tr>
					{% endfor %}




				</tbody>
			</table>

		</div>
		</div>




	</body>

	{% endblock %}