{% extends "base.html" %}

{% block content %}
<center>

	<div class="divshrink">
	
		<h3 class='pagetitle'>CDI Masterlist</h3>
	
	<div class="dropdown">
		<a class="whitehyper" href="/cdi-masterlist/qa-updates">QA Updates</a>
		<a class="whitehyper" href="/cdi-masterlist/download">Download</a>
		<button onclick="toggledropdown()" class="dropbtn"><span
				class="material-icons">filter_alt</span>&nbsp&nbspFilter by Attributes</button>
		<form class="built-in-form" method="get">
			<div id="myDropdown" class="dropdown-content">
				<label for="id_title">Title:</label></th>
				<td><input type="text" name="title" id="id_title"><br><br>
					<label for="id_organization">Organization:</label></th>
				<td><input type="text" name="organization" id="id_organization"><br><br>
					<label for="id_cdi_themes">Themes:</label></th>
				<td><input type="text" name="cdi_themes" id="id_cdi_themes"><br><br>
					<label for="id_status">Status:</label></th>
				<td><select name="status" id="id_status">
						<option value="" selected>---------</option>

						<option value="Active">Active</option>

						<option value="Not Active">Not Active</option>

						<option value="Retired">Retired</option>

					</select><br><br>
					<label for="id_metadata_type">Metadata type:</label></th>
				<td><select name="metadata_type" id="id_metadata_type">
						<option value="" selected>---------</option>

						<option value="No metadata type">No Metadata Type</option>

						<option value="geospatial">Geospatial</option>

					</select><br><br>
					<button type="submit">Filter</button>
			</div>
		</form>
	</div>
</div>


	</div>
	<div class="scrolling">
		<table class="masterlist-table">

			<thead>
				<tr>
					<th>Title</th>
					<th>Organization</th>
					<th>CDI Themes</th>
					<th>Metadata Type</th>
					<th>Status</th>
				</tr>
			</thead>

			<tbody>
				{% for item in masterlist %}
				<tr>
					<td><a target="_blank" href="{{ item.catalog_url }} ">{{ item.title }}</a></td>
					<td>{{ item.organization }} </td>
					<td>{{ item.cdi_themes }} </td>
					<td>{{ item.metadata_type }} </td>
					<td>{{ item.status }} </td>
				</tr>
				{% endfor %}




			</tbody>
		</table>

	</div>
	</div>
	{% load static %}
	<script src="{%  static  'scripts/script.js'  %}"></script>






	{% endblock %}