{% extends "base.html" %}

{% block title %}QA Updates{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{%  static  'css/qa_updates_style.css'  %}">

<body>
	<center>
		
		<div class="divshrink">
			<label class="pagetitle">CDI Masterlist: QA Updates</label>

			<div class="scrollbox">
				{% for update in qaupdates %}

				<p class="cap-instance">CAP Instance: {{ update.date }}</p>

				<ul class="qa-updates-list">
					{% for item in update.qalist %}

					<p class="datagov-id">Datagov ID: {{ item.datagov_ID_id }}</p>

					{% if item.name %}
					<li class="bold">Name: </li>
					<li class="name">{{ item.name|linebreaks }}</li>
					{% endif %}

					{% if item.title %}
					<li class="bold">Title: </li>
					<li class="title">{{ item.title|linebreaks }}</li>
					{% endif %}

					{% if item.organization %}
					<li class="bold">Organization: </li>
					<li class="organization">{{ item.organization|linebreaks }}</li>
					{% endif %}

					{% if item.catalog_url %}
					<li class="bold">Catalog URL: </li>
					<li class="catalog-url">{{ item.catalog_url|linebreaks }}</li>
					{% endif %}

					{% if item.metadata_type %}
					<li class="bold">Metadata Type: </li>
					<li class="metadata-type">{{ item.metadata_type|linebreaks }}</li>
					{% endif %}




					{% endfor %}

				</ul>
				<hr size="1" width="100%" color="black">
				{% endfor %}
			</div>
		</div>
	</center>
</body>
{% endblock %}