<!--Base File for Static Content-->

<!DOCTYPE html>
<html lang="en">

<head>
    <!--Referencing style.css file and icon page-->
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <!--Creating Responsive Menu Bar for Block Content-->
    <navbar class="navbar">
        <a href="/" class="title">CDI Dashboard</a>

        <!--Creating Alert Icon with link-->


        <!--Creating Collapsible Menu Icon-->
        <input class="menu-button" type="checkbox" id="menu-button" />
        <label class="burger-menu" for="menu-button"><span class="lines"></span></label>

        <!--Creating and Linking Menu Items-->
        <ul class="menu-items">
            <li><a href="/admin">
                    <button type="button" class="alert-button">
                        <span class="material-icons">admin_panel_settings</span>
                    </button>
                </a>
            </li>
            <li><a href="/retag">Retag</a></li>
            <li><a href="/cdi-masterlist">Masterlist</a></li>
            <li><a href="/climate-collection">Climate Collection</a></li>
            <li><a href="/warnings">Warnings</a></li>
            <li><a href="/charts">Metrics</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </navbar>
    <br>
    <br>
    <br>
    <br>
    <br>



    {% block content %}{% endblock %}

    <div class="footer">
        <a href="https://www.nasa.gov/" target="_blank">
            {% load static %}<img class="footer_logo" src="{% static 'media/NASA_logo.png' %}" alt="NASA Logo"></img>
        </a>
        <a href="https://impact.earthdata.nasa.gov/" target="_blank">
            {% load static %} <img class="footer_logo" src="{% static 'media/IMPACT_logo.png' %}"
                alt="Impact Logo"></img>
        </a>


    </div>
</body>

</html>