{% extends "base.html" %}

{% block content %}

<center>
	<div class="container">
		<div class="section1">
			<div class="information">
				<h1>Climate Data Initiative (CDI)</h1>
				<p>This is the main page of the CDI Dashboard and as such will be what
					a user sees first when they navigate to the site. The purpose of this page is to provide users an
					overview of the CDI as well as an overview of CAP results. The main page will have four major
					elements along with the menu bar. The user can also navigate to other pages on the site using the
					menu bar. </p>

			</div>
		</div>
		<div class="section2">
			<div class="information">
				
				<table class="metrics">
					<tr>
						<td># in Climate Collection </td>
						<td>{{ current_metrics.climate_collection_count }}</td>
					</tr>

					<tr></tr>
				
					<tr>
						<td># in Masterlist </td>
						<td>{{ current_metrics.masterlist_count }}</td>
					</tr>
				</table>
					
			</div>
		</div>


		<div class="section3">
			<div class="information">
				<div>
					<table class="styled-table">
						<caption>CDI Analysis Platform Warnings</caption>

						<th>Date</th>
						<th>Total Warnings</th>

						{% for item in total_warnings %}
						<tr>
							<td><a href="/warnings/{{ item.cap_id }}">{{ item.date }}</a></td>
							<td>{{ item.total_warnings }}</td>

						</tr>
						{% endfor %}
					</table>
				</div>

			</div>
		</div>
		<div class="section4">
			<div class="information">
				<div class='chartstyle' id='chart'></div>
			</div>
		</div>
		<div class="mobilespacer">&nbsp
		</div>
	</div>
</center>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
	var graphs = {{ graphJSON | safe }};
	Plotly.plot('chart', graphs);
</script>

{% endblock %}


